@CHARSET "UTF-8";
body{
	width:auto;
}
#face h3{
	width:80%;
	margin:10px auto;
	height:30px;
	line-height:30px;
	text-align:center;
	
}

#face dl{
	
	width:80%;
	margin:10px auto;
}

#face dl dd{
	
	//width:102px;
	text-align:center;
	float:left;
}

#face dl dd face.img{
	cursor:pointer;	
	
	
}